* {
    box-sizing: border-box;
}

body {
    font-family: Cambria;
    padding: 5px;
    background: rgb(42, 42, 42);
}

/* Header/Blog Title */
.header {
    padding: 5px;
    text-align: center;
    background: rgb(88, 88, 88);
    color: rgb(255, 255, 255);
}

.header h1 {
    font-size: 30px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: rgb(35, 66, 241);
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #1b24a7;
    color: #f2f2f2;
}

/* Estilo general para el formulario */
.contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para etiquetas y campos del formulario */
label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/* Estilo para el botón del formulario */
button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Create two unequal columns that float next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.footer video {
    max-width: 50%;
    height: auto;
    border: 2px solid #1b24a7;
}

.team {
    border: 10px #1b24a7;
    background-color: rgb(88, 88, 88);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.team img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.team p {
    font: Cambria;
    text-align: center;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
